body {
  margin: 0;
  padding: 0;
}

.header-image {
  height: 70px;
  width: 10%;
} 

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.logo {
  display: flex;
  width: 50%;
  align-items: center;
  margin-left: 3%;
}

header {
  width: 100%;
}

.hr {
  height: 2px;
  width: 95%;
  background-color: lightgrey;
  margin-left: 2.5%;
  margin-top: 15px;
}

.header-one {
  margin-left: 5%;
}

.links {
  display: flex;
  gap: 25px;
  margin-right: 3%;
}

.navlinks {
  border-right: 2px solid black;
  padding-right: 20px;
}
